/* Here we can set styles for this lab page that we don't want to effect others pages */




/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #6f8cdd;
  background-color: #458a74;
}




h1 {
  color: #45878a;
  font-family: "Calibri";
  font-size: 200%;
}




p {
  font-family: "Calibri";
  text-indent: 20px;
  margin-left: 10px;
}
